html{
  list-style: none;
}
header{
  font-family:cursive;
  position: absolute;
  top:0;
  left:0;
  height:100px;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.header-left{
  float: left;
  padding-left: 100px;
  display: inline-block;
}
.header-icon{
  font-size: 20px;
  line-height: 100px;
}
.header-right{
  float: right;
  display: inline-block;
}
.header-right li{
  float: left;
  padding-right: 70px;
  line-height: 100px;
}
body{
  margin: 0;

}
.body-wrapper{
  position: relative;
  width:100%;
}
main{

  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  height:3800px;
  width:100%;

}
.top-left-corner{

  height: 200px;
  width: 1000px;
  z-index: 0;
  background-color: #a9a9a9;
  transform-origin: bottom left;
  transform: rotate(-15deg);

}
#ball {
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 10%;
    background-color: #fdd35c;
    z-index: 10;
    border-radius: 50%;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
}
#ball a{
  font-family:cursive;
  text-decoration: none;
  font-size: 50px;
  color:black;
}
.triangle{
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 0;
  border-top: 520px solid #a9a9a9;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  transform:rotate(-15deg)
}
.ball-text{
  text-align: center;
  line-height: 400px;
}
.eyecatch{

  width: 100%;
  height:600px;
  background-color:;

}
.eyecatch-text{
  font-family: 'HanziPen SC';
  position:absolute;
  top:550px;
  left:40%;
  width:400px;
  height:300px;
}
.eyecatch-text-left{
  float:left;
  width:150px;
  height:300px;
  writing-mode:vertical-rl;
  font-size: 30px

}
.eyecatch-text-right{
  float: left;
  width:250px;
  height:300px;
  list-style:initial;
  font-size: 20px
}
.eyecatch-text2{
  font-family: 'HanziPen SC',sans-serif;
  position:absolute;
  top:650px;
  left:10%;
  width:400px;
  height:200px;
  font-size: 50px;
}
.about-home{
  width: 100%;
  height:800px;
  position: relative;
}
.about{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:800px;
  background-color:rgb(150,188,215);
  transform: skewY(-15deg);

}
.about-wrapper{
  position: absolute;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 800px;
  z-index: 10;

}
.about-text{
  position:absolute;
  top:150px;
  left:0;
  width:100%;
  text-align: center;
}
.about-wrapper h1 {
  font-family: 'HanziPen SC';
  font-size: 60px;
}
.about-wrapper span{
  font-weight: bold;
  font-family: 'HanziPen SC';
  font-size: 40px;
}
.about-wrapper li{
  font-size:14px;
  padding-top: 14px;
}
.works{
  position: relative;
  width: 100%;
  height:800px;

}
.work-text{
  position: relative;
  top: 100px;
  left: 0;
  text-align: center;
}
.work-text h1 {
  font-family: 'HanziPen SC';
  font-size: 60px;
}
.works-list1{
  position: relative;
  position: absolute;
  top: 240px;
  left:0;
  width:100%;
  height:400px;
}
.works-list2{
  position: relative;
  position: absolute;
  top: 240px;
  left:0;
  width:100%;
  height:400px;
}
.loop_wrap ul{
  display: flex;
  flex: auto;
  width: 900px;
  height: 300px;
  overflow: hidden;
}
.loop_wrap {
  display: flex;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

.loop_wrap li{
  flex: auto;
  float: left;
  list-style: none;
  width: 25%;
}
.loop_wrap a{
  display: inline-block;
}


.loop_wrap img {
  width: 90%;
  height: 100%;
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.wrap1 .wrap2 {
  position:relative;
  top: 300px;
  left:0px;
}
.wrap1 ul{
  padding-inline-start:0px;
  animation-name: loop;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: -15s;
  animation-iteration-count: infinite;
}
.wrap2 ul{
  padding-inline-start:0px;
  animation-name: loop;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.contact{
  position: relative;
  text-align:center;
}
.contact h1{
  font-weight:lighter;
  font-size: 60px;
}
.contact1{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:600px;
  background-color:rgb(150,188,215);
  transform: skewY(15deg);

}
.contact-wrapper{
  padding-top:10px;
  text-align: center;
}
.contact-message{

}
.contact-address{

}
.contact2{
  position: absolute;
  top:300px;
  left:0;
  width: 100%;
  height:600px;
  background-color:rgb(150,188,215);
  text-align: center;
}
.contact-prologue{
  position: relative;
}
.border{
  position: absolute;
  content: '';
  top: 250px;
  left: 50%;
  width: 1px;
  height: 150px;
  background-color: rgba(22, 22, 21, 0.3);
  z-index: 10;
}
.back-home{
  position:absolute;
  top:450px;
  left: 48.5%;
  text-align: center;
}
.back-home a{
  text-decoration: none;
  color: black;
}
footer{
  position: absolute;
  position: relative;
  top:3300px;
  left: 0;
  height: 500px;
  width:100%;
  background-color: #a9a9a9;
}
.icons{
  position: absolute;
  top:200px;
  left:0;
  height: 200px;
  width:100%;
  display:flex;
  align-items: flex-end;
  justify-content: center;
}
.icon{
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: black;
}
.fa-twitter{
  height: 200px;
  width: 200px;
  font-size: 200px;

}
.fa-instagram{
  height: 150px;
  width: 150px;
  font-size: 150px;
}
.fa-facebook-square{
  height: 100px;
  width: 100px;
  font-size: 100px;
}
.mail{
  height: 50px;
  width: 50px;
  font-size: 50px;
  margin-right: 100px;
}
